.coolDiv {
  background-color: ivory;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  gap: 3rem;

  & p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: burlywood;
    font-weight: 700;
  }

  & h1 {
    font-weight: 200;
    font-size: 2rem;
  }
}
