.makesSpace {
    height: 100vh;
}

.randomText {
    font-size: 3rem;
    font-weight: 700;
    max-width: 45%;
}

.spinner {
    background-color: lightblue;
    padding: 1rem;
    height: 1000px;
}

.square {
    width: 1.5rem;
    height: 2rem;
    background-color: red;
}