.header {
  width: 100%;
  min-height: 1080px;
  padding: 3rem;
  background-color: rgb(46, 40, 40);
  color: ivory;
  font-size: 1.5rem;
  display: flex;
  font-family: inherit;

  .headerLeft {
    margin: auto 0;
    width: 40%;

    h1 {
      font-weight: 600;
      font-size: 2.5rem;
      display: inline;
    }
    p {
      width: 70%;
    }
  }

  .copyCTA {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
  }

  .eyeButton {
    background-color: ivory;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .headerRight {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }
}
